$brand-colour: #4FE2BE;
$tamer-brand-colour: #9BC4CB;
$white: #fff;
$coffee-brown: #443627;
$light-brown: #5F634F;

@mixin zeroes{
	padding:0px;
	margin:0px;
}
#background{
	background-image: url("../images/coffee_background.jpg") !important;
	background-size: cover;
	width:100vw;
	height:100%;
	background-color: rgba(81, 90, 118, 0.87);
	background-repeat: no-repeat;
	background-position:bottom;
}
nav{
	@include zeroes;
	width:100vw;
	height:75px;
	background-color: $brand-colour;
	color: $coffee-brown;
	:last-child{
		float:right;
		li{
			font-size:1.3em;
			line-height: 3.5em;
		}
		margin-right: 20px;
	}:first-child{
		float:left;
		li img{
			max-height: 75px;
			margin:0px 20px;
		}
	}
}
ul{
	@include zeroes;
	text-decoration: none;
	display:inline;
}
li{
	display: inline;
	margin: 0px 10px;
}
body{
	color: blue;
	margin:0px;
}
